<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
        bean-discovery-mode="annotated">

    <!-- Interceptors: comment out to disable globally -->
    <interceptors>
        <class>lt.vu.interceptors.MethodLogger</class>
    </interceptors>

    <!-- Alternatives: comment out to fall back to EnglishGreeting -->
    <alternatives>
        <class>lt.vu.extensibility.LithuanianGreeting</class>
    </alternatives>

    <!-- Decorators: comment out to disable AuditingMessageDecorator -->
    <decorators>
        <class>lt.vu.extensibility.AuditingMessageDecorator</class>
    </decorators>
</beans>
